html,body{
width:100%;
margin:0;
background-color:#fff;
}
div.contents{
width:980px;
margin:0 auto;
}
div#wrap1{
width:100%;
min-width:1000px;
background-color:#689A68;
}
div#welcome{
float:left;
font-family:'oxygenlight',sans-serif;
font-size:90px;
color:#B6CF87;
}
div#logo{
float:right;
margin-top:30px;
opacity:0.8;
}
div#logo div{
font-family:'oxygenlight',sans-serif;
font-size:35px;
color:#FFF;
margin-top:10px;
}
div#welcomeMsg{
clear:both;
text-align:left;
font-family:'oxygenlight',sans-serif;
font-size:28px;
color:#B6CF87;
padding-top:20px;
padding-bottom:20px;
margin-bottom:0px;
border-top-color:#B6CF87;
border-top-style:solid;
border-top-width:1px;
}
span.ok{
color:#fff;
}
span.ko{
color:#ECE981;
}
div#wrap2{
width:100%;
min-width:1000px;
background-color:#B6CF87;
padding-bottom:30px;
}
div.demoBox{
width:478px;
height:200px;
border-color:#689A68;
border-style:solid;
border-width:1px;
display:inline-block;
overflow:hidden;
}
div.emptyDemoBox{
border-color:transparent;
}
#stocks{
display:none;
}
table#stockTable{
table-layout:fixed;
overflow:hidden;
border:0;
border-spacing:0;
border-collapse:collapse;
width:100%;
height:100%;
}
td.stockColumnTitle{
font-family:'oxygenbold',sans-serif;
font-size:14px;
text-align:right;
color:#689A68;
border-bottom-color:#689A68;
border-bottom-style:solid;
border-bottom-width:1px;
padding:2px 0 2px 3px;
}
.stockCell{
font-family:'oxygenregular',sans-serif;
font-size:13px;
color:#444;
line-height:24px;
font-weight:normal;
text-align:right;
padding:0;
white-space:nowrap;
}
div#telemetryContainer{
background-image:url('../img/car.png');
background-repeat:no-repeat;
background-position:center right;
width:100%;
height:100%;
}
div#telemetryTableContainer{
float:left;
height:100%;
width:155px;
margin:0 7px;
}
span.telemetryTag{
font-family:'oxygenbold',sans-serif;
font-size:14px;
text-align:right;
color:#689A68;
}
div.telemetryValue{
font-family:'oxygenregular',sans-serif;
font-size:14px;
color:#444;
float:right;
}
div#telemetryChartContainer{
float:right;
height:100%;
width:307px;
border-left-color:#689A68;
border-left-style:dotted;
border-left-width:1px;
}
div.telemetryChartTitle{
font-family:'oxygenregular',sans-serif;
font-size:14px;
color:#ECE981;
padding-left:5px;
height:20px;
overflow:hidden;
}
div.telemetryChart{
width:100%;
height:80px;
}
div#chatContainer{
width:100%;
height:170px;
overflow:auto;
background-image:url("../img/chat.png");
background-repeat:no-repeat;
background-position:center center;
position:relative;
}
div#chatInnerContainer{
width:478px;
max-height:170px;
overflow:auto;
position:absolute;
bottom:0;
}
div.chatMessage{
border-top-style:solid;
border-top-width:1px;
border-top-color:#689A68;
padding:3px;
opacity:0.6;
}
div.chatMessageTimestamp{
font-family:sans-serif;
font-size:12px;
color:#000;
display:inline-block;
vertical-align:top;
margin-top:3px;
margin-right:8px;
}
div.chatMessageText{
font-family:'oxygenregular',sans-serif;
font-size:13px;
display:inline-block;
word-break:break-all;
max-width:390px;
vertical-align:top;
color:#000;
}
input.chatInputEmpty{
font-family:'oxygenregular',sans-serif;
font-size:14px;
color:#689A68;
background-color:#ECE981;
width:398px;
height:27px;
padding:1px 10px 1px 10px;
border-style:solid;
border-width:1px 0 0 0;
border-color:#689A68;
}
input.chatInputActive{
font-family:'oxygenregular',sans-serif;
font-size:14px;
color:#333;
width:398px;
height:28px;
padding:1px 10px 1px 10px;
border-style:solid;
border-width:1px 0 0 0;
border-color:#689A68;
}
input#chatButton{
font-family:'oxygenbold',sans-serif;
font-size:13px;
color:#fff;
width:60px;
height:31px;
padding:1px 0 1px 0;
text-align:center;
background-color:#689A68;
opacity:0.7;
cursor:pointer;
border-style:solid;
border-width:1px 0 0 0;
border-color:#689A68;
}
input#chatButton:hover{
opacity:1;
}
input#chatButton:active{
opacity:1;
background-color:#4C704C;
}
div#roomContainer{
position:relative;
width:100%;
height:100%;
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;
}
div.roomButton{
background-repeat:no-repeat;
position:absolute;
text-align:center;
font-family:'oxygenbold',sans-serif;
font-size:13px;
color:#fff;
opacity:0.7;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
z-index:100;
}
div.roomButton:hover{
opacity:1;
}
div.roomButton:active{
opacity:1;
color:#4C704C;
}
div.divBall{
position:absolute;
z-index:2;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}
div.divPerson{
position:absolute;
z-index:3;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}
div#moreBrowsers{
font-family:'oxygenregular',sans-serif;
font-size:16px;
color:#333;
width:400px;
text-align:center;
margin:0 auto;
cursor:pointer;
}
div#moreBrowsers.left{
margin:0;
text-align:left;
}
div.buttonContainer{
width:100%;
text-align:center;
margin-top:35px;
}
.demoBox .buttonContainer{
margin-top:130px;
}
a.button{
text-decoration:none;
text-align:center;
}
input#moreDemosButton{
font-family:'oxygenregular',sans-serif;
font-size:25px;
color:#fff;
height:70px;
width:412px;
padding:1px 0 1px 0;
border:0;
text-align:center;
background-color:#676798;
padding-left:20px;
padding-right:20px;
cursor:pointer;
}
input#moreDemosButton:hover{
background-color:#5C5C88;
}
input#moreDemosButton:active{
background-color:#48486A;
}
div#wrap3{
width:100%;
min-width:1000px;
background-color:#ECE981;
padding-top:30px;
padding-bottom:30px;
}
div#monitorIntro{
font-family:'oxygenregular',sans-serif;
font-size:16px;
color:#333;
width:100%;
text-align:center;
margin-bottom:30px;
}
div#monitorImgContainer{
width:729px;
height:310px;
margin:0 auto;
position:relative;
margin-bottom:30px;
}
img#monitorBack{
position:absolute;
top:0;
left:0;
z-index:10;
border:0;
}
img#monitorFront{
position:absolute;
top:0;
left:0;
z-index:5;
border:0;
}
input#monitorButton{
font-family:'oxygenregular',sans-serif;
font-size:25px;
color:#fff;
height:70px;
width:412px;
padding:1px 0 1px 0;
border:0;
text-align:center;
background-color:#81baec;
padding-left:20px;
padding-right:20px;
cursor:pointer;
}
input#monitorButton:hover{
background-color:#6baee9;
}
input#monitorButton:active{
background-color:#55a2e5;
}
div#wrap4{
width:100%;
min-width:1000px;
background-color:#689A68;
padding-top:30px;
padding-bottom:30px;
}
div.h{
color:#FFF;
}
tr.head1{
height:69px;
font-size:15px;
}
td.head2{
height:66px;
font-size:14px;
}
tr.head3{
color:#689A68;
font-size:14px;
text-align:left;
background-color:#B6CF87;
}
tr.head3 > th{
padding:4px;
}
td.tablebody{
font-size:12px;
}
td.col1{
color:#FFF;
}
table.featuresTable{
font-family:'oxygenregular',sans-serif;
font-size:12px;
color:#B6CF87;
margin-top:10px;
text-align:center;
border-color:#B6CF87;
border-style:solid;
border-width:1px;
border-collapse:collapse;
padding:1px 1px 5px 1px;
border-spacing:1px;
}
table.featuresTable td,th{
border:1px solid #B6CF87;
}
table.featuresTable a{
color:#B6CF87;
text-decoration:none;
}
div#EditionTitle{
clear:both;
font-family:'oxygenregular',sans-serif;
color:#ECE981;
width:100%;
text-align:center;
}
p.tablenote{
font-family:'oxygenregular',sans-serif;
font-size:11px;
color:#B6CF87;
}
p.tablenote2{
font-family:'oxygenregular',sans-serif;
font-size:16px;
color:#B6CF87;
}
a.tablenote2{
font-family:'oxygenregular',sans-serif;
font-size:13px;
color:#B6CF87;
padding-left:15px;
text-align:right;
}
td.col1{
text-align:left;
padding-left:4px;
}
abbr.tooltip{
border-bottom:1px dotted;
text-decoration:none;
}
abbr.tooltip_nou{
text-decoration:none;
}
div.auth{
font-family:'oxygenregular',sans-serif;
font-size:16px;
text-align:center;
background-color:#EAEAEA;
width:740px;
height:180px;
position:relative;
padding-top:65px;
margin:0 auto;
opacity:.8;
box-shadow:0 8px 17px 0 rgba(0,0,0,0.2);
}
div.loginerror{
font-family:'oxygenregular',sans-serif;
font-size:12px;
color:red;
text-align:left;
}
